# PostgreSQL —
DB_HOST=localhost
DB_PORT=5432
DB_NAME=retail_senegal
DB_USER=postgres
DB_PASSWORD=kaza123

# Chemins
RAW_DATA_PATH=data/raw/online_retail_II.csv
PROCESSED_DATA_PATH=data/processed/online_retail_clean.csv
